.about_container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.about_container .header_text {
  width: 100%;
  text-align: center;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_container .header_text h1 {
  background-color: var(--black_color);
  background-image: linear-gradient(
    to left,
    var(--black_color) 0%,
    var(--hover_color),
    var(--main_color) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  height: auto;
  width: auto;
  border-bottom: 4px solid var(--main_color);
  font-family: var(--font_Proxima-Nova);
}

.about {
  width: 85%;
  height: 98%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 5px;
  padding: 2rem;
  background-color: var(--background_color);
}

/* ==============RESUME CODES/STYLES==================== */
.about .resume {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 3px var(--main_color);
  border-radius: 8px;
  margin-bottom: 2rem;
}

* {
  line-height: 1.5rem;
}

  .resume .profile {
    width: 90%;
    margin: auto;
    margin-top: 1.2rem;
  }

  .resume .profile ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }
  
  .resume .profile ul li{
    font-weight: 500;
    margin-top: 1rem;
  }

span,
li {
  color: var(--white_color);
  font-size: 1rem;
}

.resume a {
  text-decoration: none;
  font-weight: 500;
}

.resume li {
  line-height: 1.9em;
}

.resume #container_main {
  max-width: 100%;
  margin: 0 auto;
}

.resume .section_page {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.resume .skills {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:center;
  gap: 2rem;
}

.resume .skills div:not(:last-child){
width: 45%;
}

.resume #wrapper_hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.resume #username {
  font-size: 3em;
  line-height: 1em;
  color: var(--main_color) !important;
}

.resume #email {
  color: var(--white_color);
  border: 1.5px solid var(--main_color);
  border-radius: 4px;
  padding: 0.2rem;
}

.resume #email:hover {
  text-decoration: underline;
}

.resume #bio,
#email {
  font-weight: 800 !important;
  color: var(--main_color);
  margin-bottom: 0.4rem;
}

.resume a {
  font-weight: 300;
}

.resume #profile_pic {
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid var(--black_color);
}

.resume .profile {
  width: 70%;
  margin: auto;
  margin-top: 1.2rem;
}

.resume #socials_list {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1em;
  flex-wrap: wrap;
  width: 80%;
  margin: 1.4rem auto;
  background-color: var(--white_color);
  border-radius: 4px;
}

.resume #socials_list a {
  font-size: 1em;
  font-weight: bold;
  transition: 600ms;
  color: var(--main_color);
}

.resume #socials_list a:hover {
  text-decoration: underline;
}


.qualification_list, .programming_languages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: circle;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--main_color);
  border-radius: 4px;
  margin: 1rem 0;
}

.qualification_list, .programming_languages li{
  margin: 1rem 1.3rem;
}

.section_page .tech_stack {
  margin-bottom: 1rem;
}

.soft_skill .skill ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: circle;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border: 2px solid var(--main_color);
  border-radius: 4px;
  margin: 1rem 0;
}

.soft_skill .skill ul li{
  margin: 1rem 1.3rem;
}

.resume #wrapper_techstack_items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9rem;
}

.resume .card_techstack {
  width: fit-content;
  border: 2px solid var(--main_color);
  padding: 0.5em 1em;
  border-radius: 5px;
}

.card_work_history {
  border-left: 1px solid var(--main_color);
  padding-left: 2em;
  margin: 3px 0;
}

.line_break {
  background-color: var(--main_color);
  height: 2px;
}

/* <=====================END OF RESUME CODES/STYLES========================> */
.about .highlight {
  width: 48%;
  height: 98%;
}

.about .highlight .profile_image {
  width: 100%;
  height: 40%;
  background-color: var(--main_color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .about {
    width: 100%;
  }

  .about .cv {
    width: 100%;
  }

  .about .highlight {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about_container {
    overflow: hidden;
  }
  .about_container .about .skills_container h1 {
    font-size: 1rem;
  }

  .resume .skills {
    margin-top: 0;
  }

  .resume .skills div:not(:last-child){
width: 100%;
}

  .skills > div h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .about {
    padding: 0;
    width: 100%;
    margin: 2rem 0 0 0;
  }

  .resume #wrapper_hero div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .resume #bio,
  #email {
    text-align: center;
  }

  .resume #username {
    text-align: center;
  }

  .resume #email {
    font-size: 0.7rem;
    text-align: center;
    padding: 0.1rem 0.2rem;
  }

  .resume #wrapper_hero h2 {
    font-size: 2rem;
  }


  .resume #socials_list {
    width: 100%;
  }

  .resume #socials_list a {
    text-decoration: underline;
  }
}
