.footer_container {
  height: 20vh;
  width: 100%;
  border-top: 1px solid var(--black_color);
}

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer .about_me {
  width: 30%;
  height: 98%;
  text-align: left;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.about_me p {
  line-height: 2rem;
  width: 90%;
  margin-left: 0.6rem;
}
.footer .socials .get_in_touch,
.footer .about_me .about_me_h4 {
  background-color: var(--white_color);
  width: 90%;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .socials .get_in_touch h4,
.footer .about_me .about_me_h4 h4 {
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--main_color);
}

.footer .socials {
  width: 30%;
  height: 90%;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.footer .socials ul {
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.footer .socials ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  color: var(--main_color);
  background-color: var(--white_color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
}

.socials ul a:nth-child(1):hover {
  color: #000;
}
.socials ul a:nth-child(2):hover {
  color: #095694d0;
}

.socials ul a:nth-child(3):hover {
  color: #1497eed0;
}
.socials ul a:nth-child(4):hover {
  color: #834eedee;
}

.close_scroll_up {
  display: none !important;
}

.open_scroll_up {
  position: fixed;
  bottom: 2%;
  width: 3rem;
  height: 3rem;
  right: 2%;
  border-radius: 50%;
  background-color: var(--black_color);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 2s infinite;
  box-shadow: var(--box_shadow);
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--main_color);
  text-align: center;
  transition: 200ms ease-in-out;
  z-index: 2000;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

.copyright {
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: var(--main_color);
}

.footer_year {
  color: var(--white_color);
}

@media screen and (max-width: 1100px) {
  .footer {
    width: 98%;
  }
}

@media screen and (max-width: 800px) {
  .footer_container {
    height: fit-content;
  }

  .footer {
    width: 100%;
    height: 100%;
    row-gap: 2rem;
  }

  .footer .about_me {
    width: 100%;
    height: fit-content;
  }
  .footer .socials {
    width: 100%;
    height: 8rem;
    padding-top: 0.5rem;
    border-left: none;
    border-right: none;
    border-top: 2px solid var(--white_color);
    border-bottom: 2px solid var(--white_color);
  }

  .copyright {
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .footer .socials ul {
    justify-content: center;
  }

  .footer .socials .get_in_touch,
  .footer .about_me .about_me_h4 {
    width: 90%;
    margin: auto;
  }

  .footer .socials ul {
    width: 100%;
  }

  .footer .socials ul a {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
  .open_scroll_up {
    bottom: 18%;
  }
}
