<header id="nav" class="nav_container">
  <div class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img
          src="/assets/images/logo.png"
          height="80"
          width="80"
          alt="KellynCodes"
          priority
        />
      </a>
    </div>
    <a
      class="github-icon"
      href="https://github.com/kellyncodes"
      target="_blank"
      rel="noreferrer"
    >
      <ng-icon color="#fff" size="3rem" name="faBrandGithub" />
    </a>
    <div class="navlinks">
      <ul class="links">
        <li>
          <a href="#nav" id="sm">
            <ng-icon color="#fff" size="1.5em" name="faSolidHouse" />
          </a>
          <a id="lg" href="#nav">Home</a>
        </li>
        <li>
          <a id="sm" href="#about">
            <ng-icon color="#fff" size="1.5em" name="faSolidCircleUser" />
          </a>
          <a id="lg" href="#about"> About</a>
        </li>
        <li>
          <a id="sm" href="#project">
            <ng-icon color="#fff" size="1.5em" name="faSolidFileImage" />
          </a>
          <a id="lg" href="#project"> Projects</a>
        </li>
        <li>
          <a href="#contact" id="sm">
            <ng-icon color="#fff" size="1.5em" name="faSolidPhone" />
          </a>
          <a id="lg" href="#contact"> Contact</a>
        </li>
      </ul>

      <div class="right_links">
        <a
          class="github"
          href="https://github.com/kellyncodes"
          target="_blank"
          rel="noreferrer"
        >
          <ng-icon class="lg" color="#fff" size="4rem" name="faBrandGithub" />
          <ng-icon class="sm" color="#fff" size="2rem" name="faBrandGithub" />
        </a>
      </div>
    </div>
  </div>
</header>
