.nav_container {
  height: 5rem;
  margin: auto;
  padding: 0.5rem 0;
}

.navbar {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.github-icon {
  display: none;
  justify-content: end;
  align-items: center;
  width: 48%;
  height: 100%;
}

.navlinks .links #sm {
  display: none;
}

.navbar .logo a:hover {
  color: var(--main_color);
}

.navlinks {
  width: 70%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks .links {
  width: 60%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
}

.navlinks .right_links {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_links .lg {
  display: inline-block;
}

.right_links .sm {
  display: none;
}

.navbar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar .navlinks .links li {
  list-style-type: none;
}

.navbar .navlinks .links #sm {
  background-color: var(--background_color);
  padding: 0.4rem 0.5rem;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.navbar .navlinks .links a {
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--black_color);
  width: auto;
  height: auto;
  padding: 0.3rem;
}

.navbar .navlinks .links a::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--accent_color);
  width: 0%;
  height: 2px;
  margin-left: 0.3rem;
  transition: all 500ms ease-in-out;
}

.navbar .navlinks .links a:hover::after {
  width: 80%;
}

.navbar .navlinks li.active #lg {
  border-bottom: 4px solid var(--accent_color);
}

.navbar .navlinks .right_links a::after {
  opacity: 0;
  pointer-events: none;
  content: "@KellynCodes";
  color: var(--main_color);
  text-align: center;
  background-color: var(--white_color);
  border: 1px solid var(--main_color);
  height: 1.5rem;
  width: 10rem;
  border-radius: 5px;
  position: absolute;
  right: 2%;
  top: 14%;
}

.navbar .navlinks .right_links:hover a::after {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 1100px) {
  .navbar {
    width: 98%;
  }
}

@media screen and (max-width: 800px) {
  .nav_container {
    width: 100%;
    padding: 0;
  }

  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .nav_container {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar .navlinks {
    width: 85%;
    position: fixed;
    bottom: 0%;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 3rem;
    justify-content: center;
    border-top: 1px solid var(--main_color);
    z-index: 2000;
  }

  .navbar .navlinks .links #lg {
    padding: 0.6rem;
    background: var(--main_color);
    color: var(--white_color);
  }

  .right_links .lg {
    display: none;
  }

  .right_links {
    background-color: #2f5061b3;
  }

  .right_links .sm {
    display: block;
  }

  .logo a img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }

  .navlinks .links {
    background-color: #ffffffbf;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .navbar .navlinks .links #lg {
    display: none;
  }
  .navlinks .links li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
  }

  .navbar .navlinks .links li #sm {
    display: inline-block;
    margin: 0;
  }

  .navbar .logo {
    width: 48%;
    height: 100%;
  }

  .navbar .github-icon {
    display: flex;
    margin-right: 2rem;
    background-color: #2f5061cd;
  }
}
