.home {
  width: 85%;
  height: 95vh;
  margin: 0.3rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--background_color);
  border-radius: 4px;
}

.home::before {
  position: absolute;
  content: "Available";
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  top: 63%;
  left: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white_color);
  font-weight: 500;
  text-align: center;
  background-color: var(--accent_color);
  border: 10px solid var(--white_color);
  z-index: 1000;
}
.home::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7rem;
  top: 90%;
  transform: skewY(-2deg);
  background-image: linear-gradient(
    to right,
    var(--hover_color),
    var(--accent_color)
  );
}

.home .home_left {
  width: 45%;
  height: 95%;
  border-radius: 5px;
}

.home .home_right {
  width: 48%;
  height: 95%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.home .home_right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: -7rem;
}

.home .about {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
  position: relative;
}

.home .about .software_engineer {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.home .about .software_engineer span {
  font-size: 2.5rem;
  font-weight: 800;
}

.home .about .me {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}

.home .about .capacity h5 {
  text-align: left;
  color: var(--white_color);
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  line-height: 1.7rem;
}

.home .about .capacity > a {
  color: var(--white_color);
  transition: 400ms;
}

.home .about .capacity > a:hover {
  color: var(--main_color);
}

.home .about .my_work {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home .about .my_work ul {
  width: 80%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--background_color);
  border: 2.5px solid var(--black_color);
  border-radius: 10px;
  padding: 1rem;
  line-height: 2rem;
}

.icon_container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.icon_container p {
  font-weight: 680;
  font-size: 0.95rem;
  color: var(--white_color);
}

.home .about .my_work ul .icons {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--main_color);
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .home {
    width: 95%;
  }
  .home .about .my_work ul {
    width: 90%;
  }

  .home .about .software_engineer span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .home {
    width: 100%;
    height: fit-content;
    margin: 0;
  }

  .home::before {
    left: unset;
    right: 20%;
    top: 55%;
  }

  .home::after {
    display: none;
  }

  .home .home_left {
    padding: 0;
    width: 95%;
    margin: 0 auto;
  }

  .home .home_right {
    width: 98%;
  }

  .home .home_right img {
    margin-top: 0;
    width: 100%;
  }

  .home .home_left .about {
    width: 88%;
    padding-left: 0.1rem;
  }

  .home .about .my_work {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .home {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .home .home_left {
    width: 100%;
  }

  .home::before {
    left: unset;
    right: 0%;
    top: 70%;
  }

  .home .home_left .about {
    width: 88%;
    margin: 1.5rem auto;
  }

  .home .home_left .my_work > ul {
    width: 100%;
  }

  .home .about .my_work ul .icons {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  .icon_container p {
    font-weight: 600;
    font-size: 0.89rem;
  }
}
