<div id="project" class="project_page" data-aos="zoom-in">
  <div class="header_text">
    <h1>MY PROJECTS</h1>
  </div>
  <div class="projects">
    @defer {
    <gallery
      class="gallery"
      id="PROJECT_GALLERY"
      imageSize="cover"
      [autoPlay]="true"
      [playerInterval]="5000"
    >
      <ng-container
        *galleryImageDef="let item; let active = active; let type = type"
      >
        <div *ngIf="active" class="project_desc shadow">
          <p>
            {{ item?.alt }}
          </p>
        </div>
        <div class="button-and-tag-container shadow">
          <div class="tags">
            @for (tag of item?.args?.tags; track $index) {
            <span class=""># {{ tag }}</span>
            }
          </div>
          <div class="button">
            <a
              href="{{ item?.args?.githubLink }}"
              target="_blank"
              rel="noreferrer"
            >
              <ng-icon color="#fff" size="3em" name="faBrandGithub" />
            </a>
            <a
              href="{{ item?.args?.liveLink }}"
              target="_blank"
              rel="noreferrer"
            >
              <ng-icon color="#fff" size="3em" name="faSolidLink" />
            </a>
          </div>
        </div>
        <div>
          <a href="{{ item?.args?.liveLink }}">
            <div *ngIf="type === 'image'">
              <img [src]="item?.src" />
            </div>
          </a>
        </div>
      </ng-container>
    </gallery>
    }@loading(minimum 500ms) {
    <blog-loader loadingText="Loading Project Gallery..." />
    }@error {
    <p class="text-red-500 font-bold bg-white z-50">Failed to load projects</p>
    }
  </div>
</div>
