@import "../node_modules/@angular/cdk/overlay-prebuilt.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main_color: #4297a0;
  --accent_color: #ed5d66;
  --black_color: #fffff0;
  --white_color: #ffffff;
  --hover_color: #357f84;
  --background_color: #2f5061;
  --border_color: #e9dede;
  --font_Sofia: "Sofia", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: white !important;
  background-color: var(--background_color);
}

.text-red-500 {
  position: absolute;
  right: 3%;
  bottom: 15%;
  color: #a80c1b;
  background-color: white;
  padding: 0.4rem 0.8rem;
  text-align: center;
  border-radius: 5px;
  max-height: fit-content !important;
}

.text-red-message {
  position: absolute;
  right: 3%;
  bottom: 2.5%;
  color: #a80c1b;
  background-color: white;
  padding: 0.4rem 0.8rem;
  text-align: center;
  border-radius: 5px;
  max-height: fit-content !important;
}

@media (max-width: 600px) {
  .text-red-500 {
    right: 5%;
  }
  .text-red-message {
    right: 5%;
  }
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
