@import "../node_modules/@angular/cdk/overlay-prebuilt.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_color: #4297a0;
  --black_color: #fffff0;
  --white_color: #ffffff;
  --hover_color: #357f84;
  --background_color: #2f5061;
  --border_color: #e9dede;
  --font_Sofia: "Sofia", sans-serif;

body {
  font-family: "Inter", sans-serif;
};
  overflow-x: hidden;
  color: white !important;
  background-color: var(--background_color);
}


.text-red-500{
    color: red;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
